*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


/* riutilizzabili */
.capitalize{
    text-transform: capitalize;
}

li{
    list-style: none;
}

img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

/* contenitore principale */
body{
    height: 100vh;
    background-image: linear-gradient(to bottom, #009688 15vh,
    #dddbd1 15vh, #d2dbdc 100%);
}
.contenitore{
    height: 95%;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.contenitore::after {
    content: "";
    display: table;
    clear: both;
}


/* classi di debug che DEVI TOGLIERE DOPO */
.debug{
    height: 80px;
}

.orange{
    background-color: orange;
}

.blue{
    background-color: blue;
}

.pink{
    background-color: pink;
}

.lightyellow{
    background-color: lightyellow;
}

.lightblue{
    background-color: #8edafc;
}

.lightgrey{
    background-color: #eaeaea;
}


/* lato sinistro */
.leftside{
    float: left;
    width: 30%;
    height: 100%;
    background-color: #fff;
}


/* headerleft */
.headerleft{
    border-right: 1px solid grey;
    height: 80px;
    display: flex;
}

.titolo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 5px;
}

.nomeutente{
    display: flex;
    align-items: center;
}

.nomeutente span{
    padding-left: 3px;
}

.icone i{
    padding-right: 10px;
    color: #b1b1b1;
    font-size: 20px;
}


/* notifiche */
.notifiche{
    height: 90px;
    display: flex;
    align-items: center;
}

.campanello{
    padding: 0 10px;
}

.campanello i{
    font-size: 25px;
    background-color: #fff;
    padding: 20px;
    border-radius: 50%;
    color: #8edafc;
}

.notifiche a{
    color: #4f7485;
}


/* ricerca */
.ricerca{
    height: 40px;
    border: 5px solid #fafafa;
    display: flex;
}

button{
    width: 50px;
    background-color: #ffffff;
    border: 1px solid #fafafa;
}

button i{
    color: #b6b9c3;
    font-size: 15px;
}

.ricerca input{
    width: 100%;
    height: 100%;
    border: 1px solid #fafafa;
    color: #b6b9c3;
}


/* allChat */
.allChat{
    height: calc(100% - 90px - 80px - 50px) ;
    overflow-y: scroll;
}

.chat{
    display: flex;
    border-bottom: 1px solid  #fafafa;
}

.chat img{
    margin: 0 10px;
    align-self: center;
}

.chat span{
    padding-top: 15px;
}



/* rightside */
.rightside{
    float: left;
    width: 50%;
    display: flex;
    flex-direction: column;
}


/* headerright */
.headerright{
    height: 80px;
    background-color: #eaeaea;
    display: flex;
}

.chatattuale{
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.ultimoaccesso{
    color: #6b7376;
    font-size: 13px;
}


/* conversazione */
.conversazione{
    background-image: url(../img/mine.jpg);
    overflow: hidden;
    height: calc(100% - 80px - 80px);
    overflow-y: scroll;
}

.conversazione ul li{
    overflow: scroll;
}


/* messaggio */
.messaggio{
    background-color: #f3eeea;
    height: 80px;
    display: flex;
    align-items: center;
}

.messaggio i{
    font-size: 20px;
    margin: 0 10px;
    color: #6b7376;
}

.messaggio input{
    flex-grow: 1;
    height: 40px;
    border-radius: 20px;
    border: 1px solid #afafaf;
    font-size: 18px;
    outline: none;
}

.messaggio input::placeholder{
    font-size: 13px;
}


