*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* contenitore principale */
.contenitore{
    background-image: linear-gradient(to bottom, #009688 15vh,
    #dddbd1 15vh, #d2dbdc 100%);
    height: 100vh;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

.contenitore::after {
    content: "";
    display: table;
    clear: both;
}


/* classi di debug che DEVI TOGLIERE DOPO */
.debug{
    height: 80px;
}

.orange{
    background-color: orange;
}

.blue{
    background-color: blue;
}

.pink{
    background-color: pink;
}

.lightyellow{
    background-color: lightyellow;
}

.lightblue{
    background-color: #8edafc;
}

.lightgrey{
    background-color: #eaeaea;
}



/* lato sinistro */
.leftside{
    float: left;
    width: 30%;
}

.headerleft{
    border-right: 1px solid grey;
}

.allChat{
    height: 700px;
    overflow: hidden;
    overflow: scroll;
}

.chat{
}

/* lato destro */
.rightside{
    float: left;
    width: 50%;
}


