<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
    <div class="contenitore">

        <!-- leftside -->
        <div class="leftside">

            <!-- headerleft -->
            <div class="headerleft lightgrey">
                <div class="titolo">
                    <div class="nomeutente">
                        <img src="img/emanuele.jpg" alt="mioAvatar"> 
                        <span class="capitalize">nome utente</span> 
                    </div>
                    <div class="icone">
                        <i class="fas fa-circle-notch" title="Stato"></i>
                        <i class="fas fa-comment-alt" title="Nuova chat"></i>
                        <i class="fas fa-ellipsis-v" title="Menu"></i>
                    </div>
                </div>
            </div>

            <!-- notifiche -->
            <div class="notifiche lightblue">
                <div class="campanello">
                    <i class="fas fa-bell-slash"></i>
                </div>
                <div>
                    <p>Ricevi notifiche di nuovi messaggi</p>
                    <a href="#">Attiva notifiche desktop</a>
                </div>
            </div>

            <!-- ricerca -->
            <div class="ricerca">
                    <button v-if="searchBar >= 0"><i class="fas fa-search"></i></button>
                    <button v-else><i class="fas fa-arrow-left"></i></button>
                    <input v-model="searchBar" type="text" placeholder="Cerca o inizia una nuova chat">
            </div>

            <!-- allChat -->
            <div class="allChat">

                <ul>
                    <li class="chat debug" v-for="(chatAttiva, index) in contatti" @click="visualizzaChat(index)">
                        <div class="partesx">
                            <img :src="chatAttiva.immagine" :alt="chatAttiva.nome">
                        </div>
                        <div class="partedx">
                            <div class="capitalize">{{chatAttiva.nome}} boolean</div>
                            <div class="lastMex"><span><i class="fas fa-check"></i></span>{{chatAttiva.conversazioni[chatAttiva.conversazioni.length -1].testo}}</div>
                        </div>
                    </li>
                </ul>

            </div>

        </div>

        <!-- rightside -->
        <div class="rightside">

            <!-- headerright -->
            <div class="headerright">
                <div class="titolo">
                    <div class="nomeutente">
                        <img :src="contatti[utenteSelezionato].immagine" :alt="contatti[utenteSelezionato].nome">
                        <div class="chatattuale">
                            <div class="capitalize">{{contatti[utenteSelezionato].nome}} boolean</div>
                            <div v-if="scrivendo" class="ultimoaccesso">Sta scrivendo...</div>
                            <div v-else class="ultimoaccesso">Ultimo accesso oggi alle</div>
                        </div>
                    </div>
                    <div class="icone">
                        <i class="fas fa-search" title="Cerca..."></i>
                        <i class="fas fa-ellipsis-v" title="Menu"></i>
                    </div>
                </div>
            </div>

            <!-- conversazione -->
            <div class="conversazione">
                
                <ul v-for="(element, index) in contatti[utenteSelezionato].conversazioni" class="width90">
                    <li class="mex" :class="(element.tipo == 'inviato') ? 'inviato' : 'ricevuto' ">{{element.testo}} 
                        <div class="orario">{{element.data}}<span><i class="fas fa-check"></i></span></div>
                    </li>
                </ul>
                
            </div>

            <!-- messaggio -->
            <div class="messaggio">
                <div><i class="far fa-smile" title="Emoji"></i></div>
                <div><i class="fas fa-paperclip" title="Allega"></i></div>
                <input type="text" placeholder="Scrivi un messaggio" v-model="mexChat">
                <div class="wFix" v-if="mexChat >= 0"><i class="fas fa-microphone" title="Registra messaggio"></i></div>
                <div class="wFix" v-else><i class="fas fa-paper-plane" @click="scambioMessaggi(utenteSelezionato)" title="Invia"></i></div>
            </div>

        </div>
        
    </div>

    <script src="vue/script.js"></script>
</body>
</html>